<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>FizzBuzz</title>
</head>
<body>
    <div class="wrapper">
        <h1 class="fizzbuzz-header1">FizzBuzz</h1>
        <h2 class="fizzbuzz-header2">Mobsters</h2>
        <div class="innerWrapper fizz-wrapper">
            <div class="content">
                <h1 id="counter">1</h1>
                <h3 id="nextH3">What's next?</h3>
            </div>
            <div id='buttonContainer' class="buttons">
                <button class="fizz-btn" id="b1" value="Fizz" onclick="evalFizzBuzz('b1')">Fizz</button>
                <button class="fizz-btn" id="b2" value="Buzz" onclick="evalFizzBuzz('b2')">Buzz</button>
                <button class="fizz-btn" id="b3" value="FizzBuzz" onclick="evalFizzBuzz('b3')">FizzBuzz</button>
                <button class="fizz-btn" id="b4" value="2" onclick="evalFizzBuzz('b4')">2</button>
            </div>          
        </div>
         <a class="home-btn" href="/">Back to homebase</a>
    </div>
    <script src="../scripts/fizzBuzz.js"></script>
</body>
</html>