<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/styles.css">
    <title>Mobsters</title>
</head>
<body>
    <div class="wrapper">
        <h1>Mobsters</h1>
        <div class="innerWrapper">
            <a href="/fizzbuzz">
                <button class="indexButton">FizzBuzz</button>
            </a>
            <a href="/calculator">
                <button class="indexButton">Calculator</button>
            </a>
            <a href="/romannumerals">
                <button class="indexButton">Roman Numerals</button>
            </a>            
        </div>
    </div>
</body>
</html>