<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobsters</title>
</head>
<body>
    <div class="wrapper">
        <h1>Mobsters</h1>
        <div class="innerWrapper">
            <a href="./fizzBuzz.html">
                <button>FizzBuzz</button>
            </a>
            <button>Calculator</button>
            <button>Roman Numerals</button>
            <button>Prime Factors</button>
        </div>
    </div>
</body>
</html>