@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


body {
    background-image: url(https://i.pinimg.com/originals/93/5e/f6/935ef6021f5925994732d7a2d060bd4c.jpg?epik=dj0yJnU9ZTd4VnlPOVJISFA0ejZaMVp1QUp3VWwxQVhVaE9XaEYmcD0wJm49MENrYms1R20xeFRYR1pGR2FhUk1mUSZ0PUFBQUFBR0FTaTFV);
    background-size: cover;
    font-family: 'Righteous', cursive;
}

.wrapper {
    text-align: center;
    margin-top: 70px;
}

.innerWrapper {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

a {
    width: 100%;
}

.indexButton {
    width: 100%;
    padding: 25px 0px 25px 0px;
    margin: 10px 0px 10px 0px;
    font-size: 26px;
    letter-spacing: 4px;
    /* text-transform: uppercase; */
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #00ffec;
    border-radius: 20px;
    color: #00ffec;
    
}

.indexButton:hover {
    background-color: rgba(0, 57, 53, 0.5);
    cursor: pointer;
    font-size: 28px;
    text-shadow: 0px 0px 10px #d1eceb;
}

h1 {
    font-size: 60px;
    letter-spacing: 4px;
    color: #00ffec;
}

h1.fizzbuzz-header1 {
    margin-bottom: 0px;
}

h2 {
    font-size: 30px;
    letter-spacing: 4px;
    color: #00ffec;
}

h2.fizzbuzz-header2 {
    margin-top: 0px;
}

h3 {
    font-size: 30px;
    letter-spacing: 4px;
    color: #00ffec;
}

button:focus{
    outline: none;
}

.home-btn{
    color: #00ffec;
    text-decoration: none;
}

.home-btn:hover{
    color: #226460;
}

.calc-wrapper {
    width: 650px;
    padding: 25px 0px 190px 0px;
    letter-spacing: 4px;
    background: rgba(0, 0, 0, 0.7);
    border: 1px solid #00ffec;
    border-radius: 20px;
    color: #00ffec;
    margin-top: 80px;
}

  .container{
    margin: auto;
    background: transparent;
    height: 150px;
  }


.result {
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 30px;
}

.calc-wrapper {
    letter-spacing: 11px;
}

.second-row {
    padding-bottom: 11px;
}

.third-row {
    padding-bottom: 11px;
}

.fourth-row{
    padding-bottom: 11px;
}

.left{
    padding-bottom: 20px;
}

input {
    font-size: 20px;
}

.calcbtn {
    background-color: black;
    color: #00ffec;
    border: 0.1px thin #00ffec;
    height: 40px;
    width: 40px;
    border: 1px solid  #00ffec;
}

.calcbtn:focus{
    outline: none;
}

.calcbtn:hover{
    background-color: rgba(0, 57, 53, 0.5);
    cursor: pointer;
    text-shadow: 0px 0px 10px #d1eceb;
}

#strInput {
    color: #84f8f0;
    background-color: transparent;
    border: 1px solid #84f8f0;
    height: 36px;
}

#strInput:focus{
    outline: none;
}










































































































































































